<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xgf.correlation.one_to_many.dao.UserMapper">

    <!-- 通过一条sql(inner join内连接)语句关联查询，一对多关联关系 user和task表
        id:主键   result：其他键
        autoMapping="true" 开启自动映射，如果列名和属性名
        collection一对多关联映射
            property：对应javabean中创建的属性名(一个user对应多个task创建的集合taskList)
            ofType：是对应的完全限定名
    -->
   <resultMap id="userTaskMap1" type="com.xgf.correlation.one_to_many.bean.User" autoMapping="true">
        <id column="id" property="id"/>
        <result property="username" column="username"/>

        <collection property="taskList" ofType="com.xgf.correlation.one_to_many.bean.Task" >
            <id column="tid" property="id"/>
            <result column="taskName" property="taskName"/>
        </collection>
    </resultMap>

    <select id="getUserTaskById" resultMap="userTaskMap1">
        SELECT u.id,u.username,u.password,t.id tid,t.taskName
        from users u inner join task t on u.id = t.userId
        where u.id=#{id}
    </select>

    <!-- 2. 嵌套查询【推荐使用】分步查询、分布加载-->
    <!-- 配置 lazy懒加载，适用于单表查询提高效率，但是多表关联查询效率可能降低 通过fetchType配置懒加载
     需要在mybaits-config.xml核心配置文件中配置 settings
        懒加载 只有需要用到的时候才加载，不需要用到的时候就不加载，单表时可提高效率
     -->
    <!-- collection  cloumn为一对多的 多表的主键 foreignColum以一表的外键-->
    <resultMap id="userTaskMap2" type="com.xgf.correlation.one_to_many.bean.User" autoMapping="true">
         <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <collection property="taskList"
                    ofType="com.xgf.correlation.one_to_many.bean.Task"
                    column="id"
                    foreignColumn="userId"
                    select="com.xgf.correlation.one_to_many.dao.TaskMapper.getTaskListByUid" fetchType="lazy"/>

    </resultMap>

    <select id="getUserTaskById2" parameterType="int" resultMap="userTaskMap2">
        select id,username,password
        from users
        where id = #{id}
    </select>

</mapper>