<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xgf.correlation.one_to_one.dao.PersonMapper">

    <!-- 1. 通过一条SQL语句查询主表+关联表双表信息 autoMapping="true"自动映射，如果表列名和对象属性名一致，可以不用配置<result>-->
    <resultMap id="personMap" type="com.xgf.correlation.one_to_one.bean.Person" autoMapping="true">
        <!--<id>主键   <result>其它属性列  -->
       <id property="id" column="id"/>
       <result property="username" column="username"/>

        <!--  封装person对象对应的card
              一对一关联 用association封装对象类型
        -->
       <association property="card" javaType="com.xgf.correlation.one_to_one.bean.Card">
           <id property="id" column="id"/>
           <result property="code" column="code"/>
       </association>

    </resultMap>

<!--  查询结构封装成map对象  -->
    <select id="getPersonById" resultMap="personMap">
        select p.id,p.username,c.id,c.code
        from person p inner join card c on p.id_card = c.id
        where p.id = #{id}
    </select>

    <select id="getPersonByName" resultMap="personMap">
        select p.id,p.username,c.id,c.code
        from person p inner join card c on p.id_card = c.id
        where p.username = #{username}
    </select>



    <!--2. 嵌套查询实现 - 通过分布加载方式加载(嵌套select)
         通过多条SQL语句查询主表=关联表信息  一对一分布加载
    -->

    <!-- association select通过命名空间 + sql语句的id 来查询
          column对应主键id  foreignColumn外键
          column="id"  card表中的主键   foreignColumn="id_card"  person表的外键
     -->

    <resultMap id="personMap2" type="com.xgf.correlation.one_to_one.bean.Person">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <association property="card" javaType="com.xgf.correlation.one_to_one.bean.Card"
                     select="com.xgf.correlation.one_to_one.dao.CardMapper.getCardById"
                     column="id"
                     foreignColumn="id_card"

        />
    </resultMap>

    <select id="getPersonById2" resultMap="personMap2" parameterType="int">
        select id,username
        from person
        where id=#{id}
    </select>

</mapper>