<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志文件 -->
<Configuration status="WARN">
    <Appenders>
        <!--Console向控制台追加日志 target的值SYSTEM_OUT表示向系统控制台输出  -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 输出日志格式信息 -->
            <!--<PatternLayout pattern="      日志log：    %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n "/>-->
        </Console>
    </Appenders>
    <!-- 记录哪些类的日志信息  -->
    <Loggers>
        <!--DEBUG 是日志级别 调试信息也会记录  name: 是要进行日志记录的目录 -->
        <Logger name="com.xgf.mybatisdemo.dao" level="DEBUG"/>
        <Logger name="com.xgf.dynamic_sql.dao" level="DEBUG"/>
        <Logger name="com.xgf.mysql_cache.dao" level="DEBUG"/>


        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>