<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    oid pid是查询select语句起的别名
-->
<mapper namespace="com.xgf.correlation.many_to_many.dao.OrderMapper">

    <resultMap id="orderMap" type="com.xgf.correlation.many_to_many.bean.Order">
        <id column="oid" property="id"/>
        <result property="description" column="description"/>
        <collection property="productList" ofType="com.xgf.correlation.many_to_many.bean.Product">
            <id column="pid" property="id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="getOrderById" parameterType="int" resultMap="orderMap">
           select o.id oid,o.description,p.id pid,p.name
            from orders o left outer join orders_product op on o.id = op.ordersId
                          left outer join product p on p.id = op.productId
            where o.id = #{id}

    </select>

</mapper>